{% extends 'mainapp/base.html' %}
{% block content %}
    {#    <p>URL :{{ response }}</p>#}
    {#    <p id="full_info_90451">JSON : name: {{ json }}</p>#}

    <div class="d-grid gap-2">
        <button class="btn btn-primary status_90451" type="button">Статус</button>
        <button class="btn btn-success full_info_90451" type="button">Полная информация</button>
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'mainapp:req1' %}" class="nav-link" aria-current="page">90451</a>
        <li class="nav-item"><a href="{% url 'mainapp:req2' %}" class="nav-link" aria-current="page">90452</a>
        <li class="nav-item"><a href="{% url 'mainapp:req3' %}" class="nav-link" aria-current="page">90453</a>
        <li class="nav-item"><a href="{% url 'mainapp:req4' %}" class="nav-link" aria-current="page">90454</a>
        <li class="nav-item"><a href="{% url 'mainapp:req5' %}" class="nav-link" aria-current="page">90455</a>
        <li class="nav-item"><a href="{% url 'mainapp:req6' %}" class="nav-link" aria-current="page">90456</a>
        <li class="nav-item"><a href="{% url 'mainapp:req7' %}" class="nav-link" aria-current="page">90457</a>
        <li class="nav-item"><a href="{% url 'mainapp:req8' %}" class="nav-link" aria-current="page">90458</a>
        <li class="nav-item"><a href="{% url 'mainapp:req9' %}" class="nav-link" aria-current="page">90459</a>
        <li class="nav-item"><a href="{% url 'mainapp:req10' %}" class="nav-link" aria-current="page">90460</a>
        </li>
    </ul>
{% endblock %}
