{% extends 'mainapp/base.html' %}
{% block content %}
    <p>URL :{{ response }}</p>
    <p id="full_info_90451">JSON : name: {{ json }}</p>
    <p id="full_info_90452">JSON : name: {{ json }}</p>
    <p id="full_info_90453">JSON : name: {{ json }}</p>
    <p id="full_info_90454">JSON : name: {{ json }}</p>
    <p id="full_info_90455">JSON : name: {{ json }}</p>
    <p id="full_info_90456">JSON : name: {{ json }}</p>
    <p id="full_info_90457">JSON : name: {{ json }}</p>
    <p id="full_info_90458">JSON : name: {{ json }}</p>
    <p id="full_info_90459">JSON : name: {{ json }}</p>
    <p id="full_info_90460">JSON : name: {{ json }}</p>
{% endblock %}
