{% extends 'mainapp/base.html' %}
{% block content %}
    <h1>90457</h1>
    <div class="d-grid gap-2">
        <div class="row">
            <div class="col">
                <h3>Полная информация</h3>
                {% if jsons_full.time %}
                    <p>Time: {{ jsons_full.time }}</p>
                    <p>ID: {{ jsons_full.id }}</p>
                    <p>Created_AT: {{ jsons_full.rc_created_at }}</p>
                    <p>Updated_AT: {{ jsons_full.rc_updated_at }}</p>
                    <p>NUM_TL: {{ jsons_full.num_tl }}</p>
                    <p>is_Enabled: {{ jsons_full.is_enabled }}</p>
                    <p>is_Alarmed: {{ jsons_full.is_alarmed }}</p>
                    <p>type: {{ jsons_full.type }}</p>
                    <p>Protocol{{ jsons_full.protocol }}</p>
                    <p>CONN_STATUS: {{ jsons_full.conn_status }}</p>
                    <p>MODE: {{ jsons_full.mode }}</p>
                    <p>PROGRAM_ID:{{ jsons_full.program_id }}</p>
                    <p>KEEP_PHASE_ID: {{ jsons_full.keep_phase_id }}</p>
                    <p>Changed_time_at: {{ jsons_full.changed_time_at }}</p>
                    <p>Real_mode: {{ jsons_full.real_mode }}</p>
                    <p>Real_program_ID: {{ jsons_full.real_program_id }}</p>
                    <p>Real_keep_phase_id: {{ jsons_full.real_keep_phase_id }}</p>
                    <p>Program_created_at: {{ jsons_full.program_created_at }}</p>
                    <p>Program_updated_at{{ jsons_full.program_updated_at }}</p>
                    <p>T-Cycle: {{ jsons_full.t_cycle }}</p>
                    <p>Program_Type: {{ jsons_full.program_type }}</p>
                    <p>Start_phase_id: {{ jsons_full.start_phase_id }}</p>
                {% else %}
                    <p>Ошибка на сервере 500/502</p>
                {% endif %}
            </div>
            <div class="col">
                <h3>Статус</h3>
                {% if json %}
                    <p>{{ json }}</p>
                {% else %}
                    <p>Ошибка на сервере 500/502</p>
                {% endif %}
            </div>
            <div class="col">
                <h3>Фазы</h3>
                {% if s1 %}
                    <p>{{ s1 }}</p>
                {% else %}
                    <p>Ошибка на сервере 500/502</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
